.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.star-active a svg path {
  fill: yellow;
  animation: scaling;
  transform-origin: center;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.slick-slide img {
  margin: auto;
  width: 100%;
  margin-right: 2rem;
  padding-right: 2rem;
}

.featured-box {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(192, 192, 192, 1) 0%,
    rgba(0, 0, 0, 1) 38%
  );
  width: 95%;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 67%
  );

  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 50px;
  font-weight: 900;
  padding-bottom: 1rem;
  outline: 0;
}

.featured-link:focus {
  box-shadow: none !important;
}

.featured-link {
  border-radius: 10px;
}

.slick-prev {
  left: -50px !important;
}

.slick-next {
  right: -10px;
}
